<span class="blinking">Tracker </span>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Sr. No.</th>
        <th>Date</th>
        <th>Confirmed</th>
        <th>Recovered</th>
        <th>Deceased</th>
      </tr>
    </thead>
    <tbody>
    
      <tr>
      	
        <td>${CasesTimeSeries.Date}"></td>
		<td>${CasesTimeSeries.Confirmed}"></td>
		<td>${CasesTimeSeries.Recovered}</td>
		<td>${CasesTimeSeries.Deceased}"></td>
      </tr>
         
    </tbody>
  </table>
</div>